<h2>Por Capital</h2>
<hr>
<!--
  <input [value]="initialValue"
 -->
<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [_initialValue]="_initialValue"
      placeholder="Buscar por Capital">
    </shared-search-box>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="_isLoading"></shared-loading-spinner>
    <countries-table [_countries]="_countries"></countries-table>
  </div>
</div>
